---
import PaperPlane from '../components/PaperPlane';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
    <img src="/hero.png" />
    <div>
      <h1>Hello World!</h1>
      <p>Plain and simple chat app.</p>
      <a class="btn" href="/chat">
        <span>Start</span>
        <PaperPlane />
      </a>
    </div>
	</main>
</Layout>

<style lang="scss">
  main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";

    img {
      width: 450px;
      border-radius: 40px;
      margin-right: 50px;;
    }

    h1 {
      margin: 0;
      font-size: 50px;
    }

    p {
      margin: 0 0 20px;
      font-weight: 300;
      font-size: 19px;
    }
  }
</style>