---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap" rel="stylesheet" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss" is:global>
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  .btn {
    display: flex;
    padding: 0 30px;
    height: 54px;
    background: #111;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Poppins";
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    line-height: 18px;
    align-items: center;
    justify-content: center;
    
    svg {
      fill: #FFF;
      height: 18px;
      margin-left: 5px;
    }
  }
</style>
